#portfolio-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  color: white;
  margin-top: 200px;

  #portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: calc(100% - 5rem);
  
    @media screen and (min-width: 768px) {
      width: calc(100% - 15rem);
    }
  
    @media screen and (min-width: 1024px) {
      width: calc(100% - 20rem);
    }
  
    .portfolio-item {
      flex-basis: 300px;
      background: white;
      color: rgb(69, 90, 100);
      margin: 20px;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      transition: 0.3s;
    }
  
    .portfolio-item:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4);
    }
  
    .portfolio-item-title {
      font-size: 1.2rem;
    }
  
    .portfolio-item-description {
      height: 40px;
      margin-top: 20px;
      font-size: 0.9rem;
      line-height: 1.25rem;
    }
  
    .portfolio-item-icons {
      margin-top: 20px;
    }
  
    .portfolio-item-icons i {
      margin: 0 5px 0 5px;
    }
  
    .portfolio-item-links {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  
    .portfolio-item-links a {
      text-decoration: none;
      flex-basis: auto;
      margin: 0 20px 0 20px;
      color: darkcyan;
      border: 1px solid;
      padding: 0 15px;
      transition: 0.5s;
    }
  
    .portfolio-item-links a:hover {
      color: white;
      background-color: #455a64;
    }
  }
}