#portfolio-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    color: white;

    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    #portfolio-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .portfolio-item {
            flex-basis: 300px;
            background: white;
            color: rgb(69, 90, 100);
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        .portfolio-item-title {
            font-size: 1.2rem;
        }

        .portfolio-item-description {
            height: 40px;
            margin-top: 20px;
            font-size: 0.9rem;
            line-height: 1.25rem;
        }

        .portfolio-item-icons {
            margin-top: 20px;
        }

        .portfolio-item-icons i {
            margin: 0 5px 0 5px;
        }

        .portfolio-item-links {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .portfolio-item-links a {
            text-decoration: none;
            flex-basis: auto;
            margin: 0 20px 0 20px;
            color: darkcyan;
        }
        
        .portfolio-item-links a:hover {
            color: black;
        }
    }
}