body {
  background-color: rgb(40, 61, 71);
  background-image: linear-gradient(-90deg, rgb(26, 37, 41), rgb(62, 87, 99));
  font-family: 'Atma', cursive;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

canvas {
  position: fixed;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.center {
  text-align: center;
}

#app {
 display: flex;
 flex-direction: column; 
}
